<h2 class="signup-title"><%= t "users.new.signup_page_title" %></h2>
<div class="container-signup">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 well well-sm">
      <h4><i class="glyphicon glyphicon-globe"></i>
        <%= t "users.new.signup_box_title" %></h4>
      <hr/>
      <%= form_for(@user) do |f| %>
        <%= render "shared/error_messages", object: f.object %>

        <%= f.label :user_name %>
        <%= f.text_field :user_name, class: "form-control", autofocus: true %>
        <br/>

        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>
        <br/>
        <%= f.label :address %>
         <%= f.text_field :address, class: "form-control" %>
        <br/>

        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
        <br/>

        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
        <br/>

        <%= f.submit I18n.t("users.new.btn_account"), class: "btn btn-primary" %>
      <% end %>
      <hr/>
      <h5>
        <%= t "users.new.question" %>
        <%= link_to I18n.t("users.new.signin"), login_path %>
      </h5>
    </div>
  </div>
</div>
