<h1>Sample App</h1>
<p>
  Hi <%= @user.user_name %>,
 </p>
 <p>  Welcome to the Sample App!Ban da order thanh cong!!: </p>
 <p>  Day la don hang cua ban nhe!!: </p>
<h1 class="admin-title">
  <%= t "order.update_title" %>
</h1>
<hr/>
<div class="admin-content">
  <div class="row">
   <%= form_for @order, url: order_url(@order), method: :get do |f| %>
    <div class="col-md-6">
      <%= render "shared/error_messages", object: @order %>

      <%= f.label I18n.t("admin.name") %>
      <%= f.label :user_name, @user.user_name, class: "form-control" %>
      <%= f.hidden_field :user_id, value: @user.id %>
      <br/>

      <%= f.label I18n.t("admin.receiver") %>
      <%= f.text_field :receiver, class: "form-control", readonly: true %>
      <br/>

      <%= f.label I18n.t("admin.receiving_address") %>
      <%= f.text_field :receiving_address, class: "form-control", readonly: true %>
      <br/>

      <%= f.label I18n.t("admin.note") %>
      <%= f.text_area :note, class: "form-control", readonly: true %>
      <br/>

      <%= f.label I18n.t("admin.total_payment") %>
      <%= f.text_field :total_payment, class: "form-control", readonly: true %>
      <br/>
    </div>
    <% end %>
    <div class="col-md-6">
      <h3>
        <%= t "order.order_details" %>
      </h3>
      <table class="table table-bordered">
        <tr>
          <th>
            <%= t "admin.index" %>
          </th>
          <th>
            <%= t "admin.name" %>
          </th>
          <th>
            <%= t "admin.quanlity" %>
          </th>
          <th>
            <%= t "admin.price" %>
          </th>
        </tr>
        <%= render partial: "orders/order_detail", collection: @order.order_details %>
        <tr>
          <td colspan="3">
            <b>
              <%= t "admin.total_payment" %>
            </b>
          </td>
          <td>
            <b>
              <%= @order.total_payment %>
            </b>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
